/* body */
body {
    margin: 0px;
    padding: 0px;
}

/* margins */
/* margin top right bottom left */
.m-1 {
    margin: 0.625rem;
}

.m-2 {
    margin: 1.25rem;
}

.m-3 {
    margin: 1.875rem;
}

.m-4 {
    margin: 2.5rem;
}

.m-5 {
    margin: 3.125rem;
}

.m-6 {
    margin: 3.75rem;
}

.m-7 {
    margin: 4.375rem;
}

.m-8 {
    margin: 5rem;
}

.m-9 {
    margin: 5.625rem;
}

.m-10 {
    margin: 6.25rem;
}

/* margin vertical */
.mv-1 {
    margin: 0rem 0.625rem;
}

.mv-2 {
    margin: 0rem 1.25rem;
}

.mv-3 {
    margin: 0rem 1.875rem;
}

.mv-4 {
    margin: 0rem 2.5rem;
}

.mv-5 {
    margin: 0rem 3.125rem;
}

.mv-6 {
    margin: 0rem 3.75rem;
}

.mv-7 {
    margin: 0rem 4.375rem;
}

.mv-8 {
    margin: 0rem 5rem;
}

.mv-9 {
    margin: 0rem 5.625rem;
}

.mv-10 {
    margin: 0rem 6.25rem;
}

/* margin horizontal */
.mh-1 {
    margin: 0.625rem 0rem;
}

.mh-2 {
    margin: 1.25rem 0rem;
}

.mh-3 {
    margin: 1.875rem 0rem;
}

.mh-4 {
    margin: 2.5rem 0rem;
}

.mh-5 {
    margin: 3.125rem 0rem;
}

.mh-6 {
    margin: 3.75rem 0rem;
}

.mh-7 {
    margin: 4.375rem 0rem;
}

.mh-8 {
    margin: 5rem 0rem;
}

.mh-9 {
    margin: 5.625rem 0rem;
}

.mh-10 {
    margin: 6.25rem 0rem;
}

/* margin top */
.mt-1 {
    margin-top: 0.625rem;
}

.mt-2 {
    margin-top: 1.25rem;
}

.mt-3 {
    margin-top: 1.875rem;
}

.mt-4 {
    margin-top: 2.5rem;
}

.mt-5 {
    margin-top: 3.125rem;
}

.mt-6 {
    margin-top: 3.75rem;
}

.mt-7 {
    margin-top: 4.375rem;
}

.mt-8 {
    margin-top: 5rem;
}

.mt-9 {
    margin-top: 5.625rem;
}

.mt-10 {
    margin-top: 6.25rem;
}

/* margin right */
.mr-1 {
    margin-right: 0.625rem;
}

.mr-2 {
    margin-right: 1.25rem;
}

.mr-3 {
    margin-right: 1.875rem;
}

.mr-4 {
    margin-right: 2.5rem;
}

.mr-5 {
    margin-right: 3.125rem;
}

.mr-6 {
    margin-right: 3.75rem;
}

.mr-7 {
    margin-right: 4.375rem;
}

.mr-8 {
    margin-right: 5rem;
}

.mr-9 {
    margin-right: 5.625rem;
}

.mr-10 {
    margin-right: 6.25rem;
}

/* margin bottom */
.mb-1 {
    margin-bottom: 0.625rem;
}

.mb-2 {
    margin-bottom: 1.25rem;
}

.mb-3 {
    margin-bottom: 1.875rem;
}

.mb-4 {
    margin-bottom: 2.5rem;
}

.mb-5 {
    margin-bottom: 3.125rem;
}

.mb-6 {
    margin-bottom: 3.75rem;
}

.mb-7 {
    margin-bottom: 4.375rem;
}

.mb-8 {
    margin-bottom: 5rem;
}

.mb-9 {
    margin-bottom: 5.625rem;
}

.mb-10 {
    margin-bottom: 6.25rem;
}

/* margin left */
.ml-1 {
    margin-left: 0.625rem;
}

.ml-2 {
    margin-left: 1.25rem;
}

.ml-3 {
    margin-left: 1.875rem;
}

.ml-4 {
    margin-left: 2.5rem;
}

.ml-5 {
    margin-left: 3.125rem;
}

.ml-6 {
    margin-left: 3.75rem;
}

.ml-7 {
    margin-left: 4.375rem;
}

.ml-8 {
    margin-left: 5rem;
}

.ml-9 {
    margin-left: 5.625rem;
}

.ml-10 {
    margin-left: 6.25rem;
}

/* paddings */
/* padding top right bottom left */
.p-1 {
    padding: 0.625rem;
}

.p-2 {
    padding: 1.25rem;
}

.p-3 {
    padding: 1.875rem;
}

.p-4 {
    padding: 2.5rem;
}

.p-5 {
    padding: 3.125rem;
}

.p-6 {
    padding: 3.75rem;
}

.p-7 {
    padding: 4.375rem;
}

.p-8 {
    padding: 5rem;
}

.p-9 {
    padding: 5.625rem;
}

.p-10 {
    padding: 6.25rem;
}

/* padding vertical */
.pv-1 {
    padding: 0rem 0.625rem;
}

.pv-2 {
    padding: 0rem 1.25rem;
}

.pv-3 {
    padding: 0rem 1.875rem;
}

.pv-4 {
    padding: 0rem 2.5rem;
}

.pv-5 {
    padding: 0rem 3.125rem;
}

.pv-6 {
    padding: 0rem 3.75rem;
}

.pv-7 {
    padding: 0rem 4.375rem;
}

.pv-8 {
    padding: 0rem 5rem;
}

.pv-9 {
    padding: 0rem 5.625rem;
}

.pv-10 {
    padding: 0rem 6.25rem;
}

/* padding horizontal */
.ph-1 {
    padding: 0.625rem 0rem;
}

.ph-2 {
    padding: 1.25rem 0rem;
}

.ph-3 {
    padding: 1.875rem 0rem;
}

.ph-4 {
    padding: 2.5rem 0rem;
}

.ph-5 {
    padding: 3.125rem 0rem;
}

.ph-6 {
    padding: 3.75rem 0rem;
}

.ph-7 {
    padding: 4.375rem 0rem;
}

.ph-8 {
    padding: 5rem 0rem;
}

.ph-9 {
    padding: 5.625rem 0rem;
}

.ph-10 {
    padding: 6.25rem 0rem;
}

/* padding top */
.pt-1 {
    padding-top: 0.625rem;
}

.pt-2 {
    padding-top: 1.25rem;
}

.pt-3 {
    padding-top: 1.875rem;
}

.pt-4 {
    padding-top: 2.5rem;
}

.pt-5 {
    padding-top: 3.125rem;
}

.pt-6 {
    padding-top: 3.75rem;
}

.pt-7 {
    padding-top: 4.375rem;
}

.pt-8 {
    padding-top: 5rem;
}

.pt-9 {
    padding-top: 5.625rem;
}

.pt-10 {
    padding-top: 6.25rem;
}

/* padding right */
.pr-1 {
    padding-right: 0.625rem;
}

.pr-2 {
    padding-right: 1.25rem;
}

.pr-3 {
    padding-right: 1.875rem;
}

.pr-4 {
    padding-right: 2.5rem;
}

.pr-5 {
    padding-right: 3.125rem;
}

.pr-6 {
    padding-right: 3.75rem;
}

.pr-7 {
    padding-right: 4.375rem;
}

.pr-8 {
    padding-right: 5rem;
}

.pr-9 {
    padding-right: 5.625rem;
}

.pr-10 {
    padding-right: 6.25rem;
}

/* padding bottom */
.pb-1 {
    padding-bottom: 0.625rem;
}

.pb-2 {
    padding-bottom: 1.25rem;
}

.pb-3 {
    padding-bottom: 1.875rem;
}

.pb-4 {
    padding-bottom: 2.5rem;
}

.pb-5 {
    padding-bottom: 3.125rem;
}

.pb-6 {
    padding-bottom: 3.75rem;
}

.pb-7 {
    padding-bottom: 4.375rem;
}

.pb-8 {
    padding-bottom: 5rem;
}

.pb-9 {
    padding-bottom: 5.625rem;
}

.pb-10 {
    padding-bottom: 6.25rem;
}

/* padding left */
.pl-1 {
    padding-left: 0.625rem;
}

.pl-2 {
    padding-left: 1.25rem;
}

.pl-3 {
    padding-left: 1.875rem;
}

.pl-4 {
    padding-left: 2.5rem;
}

.pl-5 {
    padding-left: 3.125rem;
}

.pl-6 {
    padding-left: 3.75rem;
}

.pl-7 {
    padding-left: 4.375rem;
}

.pl-8 {
    padding-left: 5rem;
}

.pl-9 {
    padding-left: 5.625rem;
}

.pl-10 {
    padding-left: 6.25rem;
}

/* container */
.container {
    margin: 0rem 6.25rem;  
}

/* grid */
.grid {
    display: grid;
}

/* grid col properties */
.grid-col-1 {
    grid-template-columns: auto;
}

.grid-col-2 {
    grid-template-columns: auto auto;
}

.grid-col-3 {
    grid-template-columns: auto auto auto;
}

.grid-col-4 {
    grid-template-columns: auto auto auto auto;
}

/* grid gap properties */
.grid-gap-1 {
    gap: 0.625rem;
}

.grid-gap-2 {
    gap: 1.25rem;
}

.grid-gap-3 {
    gap: 1.875rem;
}

.grid-gap-4 {
    gap: 2.5rem;
}

/* flex */
.flex {
    display: flex;
}

/* flex fix no responsive */
.flex-fix {
    display: flex;
}

/* flex direction properties */
.flex-d-row {
    flex-direction: row;
}

.flex-d-row-rev {
    flex-direction: row-reverse;
}

.flex-d-col {
    flex-direction: column;
}

.flex-d-col-rev {
    flex-direction: column-reverse;
}

/* flex center properties */
.flex-center {
    justify-content: center;
    align-items: center;
}

/* flex justify content properties */
.flex-jc-center {
    justify-content: center;
}

.flex-jc-start {
    justify-content: flex-start;
}

.flex-jc-end {
    justify-content: flex-end;
}

.flex-jc-s-between {
    justify-content: space-between;
}

.flex-jc-s-around {
    justify-content: space-around;
}

.flex-jc-s-evenly {
    justify-content: space-evenly;
}

/* flex align items properties */
.flex-ai-center {
    align-items: center;
}

.flex-ai-stretch {
    align-items: stretch;
}

.flex-ai-start {
    align-items: flex-start;
}

.flex-ai-end {
    align-items: flex-end;
}

.flex-ai-baseline {
    align-items: baseline;
}

/* flex wrap properties */
.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-rev {
    flex-wrap: wrap-reverse;
}

/* flex grow properties */
.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

/* flex shrink properties */
.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-shrink-2 {
    flex-shrink: 2;
}

.flex-shrink-3 {
    flex-shrink: 3;
}

/* media queries */
@media screen and (max-width: 950px) {

    /* container */
    .container {
        margin: 0rem 4.125rem;
    }

    /* grid properties */
    .grid-col-3 {
        grid-template-columns: auto auto;
    }

    .grid-col-4 {
        grid-template-columns: auto auto auto;
    }

    /* flex */
    .flex {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {

    /* container */
    .container {
        margin: 0rem 2.5rem;
    }

    /* grid properties */
    .grid-col-2 {
        grid-template-columns: auto;
    }

    .grid-col-3 {
        grid-template-columns: auto;
    }

    .grid-col-4 {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 450px) {

    /* container */
    .container {
        margin: 0rem 1.25rem;
    }

    /* grid properties */
    .grid-col-4 {
        grid-template-columns: auto;
    }

}